*{
	margin:0;
	padding:0;
}
html, body {
	background-color: #8e8e8e;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	width:100%;
	min-height: 100%;
}
.main{
	padding:2%;
	background-color: #191927;
	min-height: 50%;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	border-style: outset;
	border-top-style:none;
}

footer{
	position:absolute;
	bottom:0;
	border-top:1px solid;
	width:100%;
	height:40px;
	padding: 10px;
}
nav a{
	display: inline;
	border: dashed;
	margin: 0px;
	text-decoration: none;
	background-color: #8a8ba4;

}