*{
	margin:0;
	padding:0;
}
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #db5a1e;
	font-family: helvetica;
}
body{
	width:100%;
	min-height: 100%;
}
.main{
	padding:2%;
	background-color: #191927;
	min-height: 70%;
	width: 80%;
	margin-left: 8%;
	border-style: outset;
	border-right-style: inset;
	border-bottom-style:inset;
	border-top-style:none;
	border-color: #636363;
}

footer{
	position:absolute;
	bottom:0;
	border-top:outset;
	width:100%;
	height:20px;
	padding: 10px;
	background-color:#8b8b8b;
	border-top-color: #636363;

}
nav a{
	display: inline;
	border-right: solid;
	border-top: solid;
	margin: 0px;
	text-decoration: none;
	float:left;
	font-size: 20px;
	border-color:#636363;
	color:#000000;


}
nav ul{
	margin: 0;
	height:23px;
}
#icon{
	height: 100px;
	width: 100px;
}
nav {
	border-bottom: inset;
	background-color:#191927;
	border-bottom-color: #636363;
	height:23px;
}
header{
	background-color: #8b8b8b;
}