html,body {
	height: 100%;
	width:100%;
	min-height:100%;
	margin: 0px;
	padding: 0px;
	background-color: #191927;
	font-family: helvetica;
}
header{
	background-color: #8b8b8b;
	height:100px;
	padding:10px;
}
header h1{
	display: inline;
}
footer{
	margin: 0;
	bottom: 0;
	border-top:outset;
	width:100%;
	height:40px;
	background-color:#8b8b8b;
	border-top-color: #636363;
	position:absolute;
}
#icon{
	height: 100px;
	width: 100px;
}
#container {
	min-height:100%;
	position:relative;
	padding:0 0;
	background-color: #846445;
}
.main{
	display:block;
	padding:2%;
	background-color: #db5a1e;
	min-height:200px;
	width: 80%;
	margin: 20px 8% 80px 8%;
	border-style: outset;
	border-right-style: inset;
	border-bottom-style:inset;
	border-top-style:outset;
	border-color: #636363;
	border-radius: 3px;
	align-content: center;
	padding-bottom:40px;
	overflow: auto;
	position:relative;
}

nav {
	border-bottom: inset;
	background-color:#8b8b8b;
	border-bottom-color: #636363;
	border-radius: 0px 0px 5px 5px;
}
nav ul{
	margin: 0;
	padding:0;
}
nav a{
	display: inline;
	border-right: solid;
	margin: 0px;
	text-decoration: none;
	font-size: 20px;
	border-color:#636363;
	color:#000000;
	padding: 0px 10px;
}
